<!DOCTYPE html>
<html>
  <head>
    <title>Index 페이지</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    <script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="stylesheets/style.css">
    <script src="http://code.jquery.com/jquery-1.7.1.js"></script>
    <script>
		function doSubmit(){
			chatListform.submit();
		}
		function doJoin(){
			$(location).attr('href','/join');
		}
	</script> 
	</head>
	<body>
		<form name="chatListform" action="./chatList" method="post">
			아이디 : <input type="text" name="id" id="id">
			비밀번호 : <input type="password" name="pwd" id="pwd">
			<input type="submit" id="login" value="로그인" onclick="doSubmit()" class="btn ban-primaty" style="width:16%">
		</form>
		<input type="button" id="join" value="회원가입" onclick="doJoin()" class="btn ban-primaty" style="width:16%">
	</body>
</html>
